.aboutusHome {
  .container {
    p {
      margin: 0;
    }
    .p-content {
      // margin-top: 126px;
      margin-top: 95px;
      // margin-top: 3.3vw;
      // padding: 10px 3vw 10px 3.64vw;
      @include medium-breakpoint("max") {
        padding: 0px 1vw 0px 2vw;
      }
      h2 {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // font-size: 3.5rem;
        font-size: 45px;
        color: $black;
        font-weight: bold;
        @include large-breakpoint("max") {
          font-size: 3rem;
        }
        @include medium-breakpoint("max") {
          font-size: 2.5rem;
        }
        @include small-breakpoint(max) {
          font-size: 2rem;
          br {
            display: none;
          }
        }
        @include xsmall-breakpoint("max") {
          font-size: 1.5rem;
        }
      }
      .p-text {
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        // margin-left: 36px;
        p,
        pre {
          display: inline-block;
          margin: 15px 0;
          font-size: 0.9rem;
          line-height: 1.6;
          color: $grey;
          @include medium-breakpoint("max") {
            margin: 10px 0;
            font-size: 0.86rem;
          }
          @include small-breakpoint(max) {
            br {
              display: none;
            }
          }
          @include xsmall-breakpoint("max") {
            font-size: 0.8rem;
          }
          &.spot {
            color: $grey2;
            font-size: 22px;
            font-weight: 400;
            @include medium-breakpoint("max") {
              font-size: 1rem;
            }
            @include xsmall-breakpoint("max") {
              font-size: 0.9rem;
            }
          }
        }
        a {
          // display: inline-block;
          vertical-align: top;
          // padding: 20px 32px;
          // font-size: 1rem;
          font-size: 22px;
          // line-height: 1;
          font-weight: 400;
          color: $blue;
          letter-spacing: 0.05em;
          // text-transform: uppercase;
          text-align: center;
          text-decoration: solid underline $blue;
          // border: solid 2px $red;
          // background-color: $white;
          cursor: pointer;
          @include transition(background-color 0.3s ease);
          margin-top: 40px;
          &:hover {
            color: $lightblue;
          }
          @include medium-breakpoint("max") {
            padding: 15px 25px;
            font-size: 0.9rem;
            margin-top: 10px;
          }
          @include xsmall-breakpoint("max") {
            padding: 10px 20px;
            font-size: 0.8rem;
          }
        }
      }
    }
    .p-figure {
      display: inline-block;
      // padding-top: 3.64vw;
      padding-top: 63px;
      padding-left: 3.64vw;
      background-size: 370px auto;
      background-size: contain;
      // background-image: url(../images/dots.png);
      background-repeat: no-repeat;
      background-size: 65% auto;
      img {
        float: left;
        width: 100%;
        height: auto;
      }
      @include small-breakpoint(max) {
        padding-top: 5vw;
        padding-left: 5vw;
        padding-right: 5vw;
      }
      @include xsmall-breakpoint("max") {
        padding-top: 10vw;
        padding-left: 10vw;
        padding-right: 10vw;
      }
    }
    .p-line {
      display: inline-block;
      width: 100%;
      height: 1px;
      background: $lightgrey2;
      margin-top: 80px;
    }
  }
}
