@font-face {
  font-family: 'nlm-icon';
  src: url('../font/nlm-icon.eot?59418360');
  src: url('../font/nlm-icon.eot?59418360#iefix') format('embedded-opentype'),
       url('../font/nlm-icon.woff2?59418360') format('woff2'),
       url('../font/nlm-icon.woff?59418360') format('woff'),
       url('../font/nlm-icon.ttf?59418360') format('truetype'),
       url('../font/nlm-icon.svg?59418360#nlm-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}