.breadcrumbs, .pageContent .container .row.textPage .leftMenu span, .pageContent .container .row.textPage .textCapsule, .pageContent .container .row.textPage .textCapsule h1, .pageContent .container .row.textPage .textCapsule h2, .pageContent .container .row.textPage .textCapsule h3, .pageContent .container .row.textPage .textCapsule .p-text p img, .pageContent .container .row.textPage .textCapsule .p-text pre img, .pageContent .container .row.textPage .textCapsule .p-text ul, .pageContent .container .row.textPage .textCapsule .p-text ul li {
  display: inline-block;
  width: auto;
  height: auto;
}

.pageContent .container .row.textPage .textCapsule .date, .pageContent .container .row.textPage .textCapsule .p-text p, .pageContent .container .row.textPage .textCapsule .p-text pre, .pageContent .container .row.textPage .textCapsule .p-text p.spot, .pageContent .container .row.textPage .textCapsule .p-text pre.spot, .pageContent .container .row.textPage .textCapsule .p-contact a, .pageContent .container .row.servicesPage div[class^="col-"] .p-item a .p-text p, .pageContent .container .row.servicesPage div[class^="col-"] .p-item a .p-text pre, .pageContent .container .row.blogPage div[class^="col-"] .p-item a .p-text p, .pageContent .container .row.blogPage div[class^="col-"] .p-item a .p-text pre, .formHome .container .formCapsule form ul li input, .formHome .container .formCapsule form ul li textarea, .formHome .container .formCapsule form ul li input[type="checkbox"] + label,
.formHome .container .formCapsule form ul li input[type="radio"] + label {
  font-family: "Hind", sans-serif;
}

.pageContent .container .row.textPage .leftMenu ul li a::after {
  font-family: "nlm-icon";
}

.breadcrumbs {
  background-color: #eaeaea;
  width: 100%;
  font-size: 0.7rem;
  line-height: 2.2;
  font-weight: 500;
  color: #f8f9fc;
}

@media only screen and (max-width: 480px) {
  .breadcrumbs {
    font-size: 0.6rem;
  }
}

.breadcrumbs a {
  display: inline-block;
  font-size: 0.7rem;
  line-height: 1.5;
  font-weight: 500;
  color: #f8f9fc;
  padding: 7px 10px;
}

@media only screen and (max-width: 992px) {
  .breadcrumbs a {
    font-size: .7rem;
  }
}

@media only screen and (max-width: 480px) {
  .breadcrumbs a {
    font-size: .6rem;
    padding: 3px 7px;
  }
}

.breadcrumbs a:hover {
  opacity: .5;
}

.breadcrumbs a:first-child {
  padding-left: 0;
}

.breadcrumbs a:last-child {
  font-weight: 700;
  padding-right: 0;
}

.pageContent {
  position: relative;
}

.pageContent .container {
  position: relative;
  padding-right: 30px;
  padding-left: 30px;
  z-index: 5;
}

.pageContent .container.full {
  width: 100%;
  max-width: 1620px;
}

@media only screen and (max-width: 992px) {
  .pageContent .container.full {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media only screen and (max-width: 769px) {
  .pageContent .container.full .row.textPage .p-title {
    padding-top: 50px;
  }
}

@media only screen and (max-width: 769px) {
  .pageContent .container.full .row.textPage .p-box {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 769px) {
  .pageContent .container.full .row.textPage .textCapsule {
    padding: 50px 0 0;
  }
}

.pageContent .container .row.textPage .p-title {
  float: left;
  width: 100%;
  height: auto;
}

.pageContent .container .row.textPage .p-title p, .pageContent .container .row.textPage .p-title pre {
  display: inline-block;
  margin: 0;
  font-size: .9rem;
  line-height: 1.6;
  color: #cf152d;
}

.pageContent .container .row.textPage .p-title h1 {
  font-size: 3rem;
  color: #000;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 992px) {
  .pageContent .container .row.textPage .p-title h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .pageContent .container .row.textPage .p-title h1 {
    font-size: 1.8rem;
  }
}

.pageContent .container .row.textPage .leftMenu {
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
}

.pageContent .container .row.textPage .leftMenu span {
  width: 100%;
  height: auto;
  padding: 12px 30px 12px 30px;
  font-size: .9rem;
  line-height: 1.5;
  font-weight: 700;
  color: #fff;
  background-color: #cf152d;
  text-align: left;
  position: relative;
  cursor: pointer;
  display: none;
}

.pageContent .container .row.textPage .leftMenu span::before {
  position: absolute;
  right: 7px;
  top: 0px;
  font-family: "nlm-icon";
  content: '\E80B';
  font-size: 1rem;
  margin: 10px 10px;
  -webkit-transition: all 0.35s ease-in;
  -moz-transition: all 0.35s ease-in;
  -ms-transition: all 0.35s ease-in;
  -o-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(90), M12=-sin(90), M21=sin(90), M22=cos(90));
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(90), M12=-sin(90), M21=sin(90), M22=cos(90))";
  zoom: 1;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.textPage .leftMenu span {
    display: block;
  }
}

.pageContent .container .row.textPage .leftMenu ul {
  display: inline-block;
  width: 100%;
  height: auto;
  list-style: none;
  margin: 0;
  -webkit-transition: all 0.35s ease-in;
  -moz-transition: all 0.35s ease-in;
  -ms-transition: all 0.35s ease-in;
  -o-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.textPage .leftMenu ul {
    height: 0;
    overflow: hidden;
    display: none;
    padding: 0;
    margin: 1px 0;
  }
}

.pageContent .container .row.textPage .leftMenu ul li {
  display: inline-block;
  width: 100%;
  height: auto;
  list-style: none;
  padding: 0;
  margin: 2px 0;
}

.pageContent .container .row.textPage .leftMenu ul li a {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 15px 30px 15px 20px;
  font-size: .9rem;
  line-height: 1.6;
  font-weight: 500;
  color: #000;
  text-align: left;
  position: relative;
  background-color: #f8f9fc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.textPage .leftMenu ul li a {
    padding: 12px 30px;
    font-size: .8rem;
    line-height: 1.5;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
  }
}

.pageContent .container .row.textPage .leftMenu ul li a::after {
  position: absolute;
  right: 0px;
  top: 0px;
  content: '\e80b';
  font-size: 1.2rem;
  margin: 13px 13px;
  display: none;
  color: #fff;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.textPage .leftMenu ul li a::after {
    display: none;
  }
}

.pageContent .container .row.textPage .leftMenu ul li a:hover {
  color: #fff;
  background-color: #313131;
}

.pageContent .container .row.textPage .leftMenu ul li a:hover::after {
  color: #fff;
  display: block;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.textPage .leftMenu ul li a:hover::after {
    display: none;
  }
}

.pageContent .container .row.textPage .leftMenu ul li a.active {
  color: #fff;
  background-color: #cf152d;
  font-weight: 700;
}

.pageContent .container .row.textPage .leftMenu ul li a.active::after {
  display: block;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.textPage .leftMenu ul li a.active::after {
    display: none;
  }
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.textPage .leftMenu ul li a.active {
    background-color: #333841;
  }
}

.pageContent .container .row.textPage .leftMenu.left--open span::before {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(-90), M12=-sin(-90), M21=sin(-90), M22=cos(-90));
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=cos(-90), M12=-sin(-90), M21=sin(-90), M22=cos(-90))";
  zoom: 1;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.textPage .leftMenu.left--open ul {
    display: inline-block;
    height: auto;
  }
}

.pageContent .container .row.textPage .textCapsule {
  width: 100%;
}

.pageContent .container .row.textPage .textCapsule i {
  font-size: 2rem;
  color: #dda01f;
}

.pageContent .container .row.textPage .textCapsule h1 {
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
  color: #dda01f;
  padding: 0 0 10px 0;
  margin: 0;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.textPage .textCapsule h1 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 480px) {
  .pageContent .container .row.textPage .textCapsule h1 {
    font-size: 1rem;
  }
}

.pageContent .container .row.textPage .textCapsule h2 {
  width: 100%;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 700;
  color: #cf152d;
  padding: 10px 0;
  margin: 0;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.textPage .textCapsule h2 {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 480px) {
  .pageContent .container .row.textPage .textCapsule h2 {
    font-size: .9rem;
  }
}

.pageContent .container .row.textPage .textCapsule h3 {
  width: 100%;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 700;
  color: #cf152d;
  padding: 10px 0;
  margin: 0;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.textPage .textCapsule h3 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .pageContent .container .row.textPage .textCapsule h3 {
    font-size: .9rem;
  }
}

.pageContent .container .row.textPage .textCapsule .date {
  float: left;
  width: 100%;
  line-height: 1.8;
  font-weight: 400;
  font-size: .7rem;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #313131;
  letter-spacing: 0.1em;
}

.pageContent .container .row.textPage .textCapsule .p-text {
  display: inline-block;
  width: 100%;
}

.pageContent .container .row.textPage .textCapsule .p-text p, .pageContent .container .row.textPage .textCapsule .p-text pre {
  display: inline-block;
  width: 100%;
  font-size: .9rem;
  line-height: 1.9;
  color: #f8f9fc;
  font-weight: 400;
  padding: 10px 0;
  margin: 0;
}

.pageContent .container .row.textPage .textCapsule .p-text p.spot, .pageContent .container .row.textPage .textCapsule .p-text pre.spot {
  color: #000;
  line-height: 1.4;
  font-size: 1.1rem;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.textPage .textCapsule .p-text p.spot, .pageContent .container .row.textPage .textCapsule .p-text pre.spot {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 480px) {
  .pageContent .container .row.textPage .textCapsule .p-text p.spot, .pageContent .container .row.textPage .textCapsule .p-text pre.spot {
    font-size: .9rem;
  }
}

.pageContent .container .row.textPage .textCapsule .p-text p b, .pageContent .container .row.textPage .textCapsule .p-text pre b {
  font-weight: 700;
}

.pageContent .container .row.textPage .textCapsule .p-text p b.title, .pageContent .container .row.textPage .textCapsule .p-text pre b.title {
  font-weight: 800;
  color: #333841;
  margin: 0px;
  padding: 0px;
}

.pageContent .container .row.textPage .textCapsule .p-text p img, .pageContent .container .row.textPage .textCapsule .p-text pre img {
  max-width: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.textPage .textCapsule .p-text p img, .pageContent .container .row.textPage .textCapsule .p-text pre img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .pageContent .container .row.textPage .textCapsule .p-text p img, .pageContent .container .row.textPage .textCapsule .p-text pre img {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
  }
}

.pageContent .container .row.textPage .textCapsule .p-text p a, .pageContent .container .row.textPage .textCapsule .p-text pre a {
  font-size: .9rem;
  line-height: 1.9;
  color: #333841;
}

.pageContent .container .row.textPage .textCapsule .p-text p a:hover, .pageContent .container .row.textPage .textCapsule .p-text pre a:hover {
  color: #cf152d;
  text-decoration: underline;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.textPage .textCapsule .p-text p, .pageContent .container .row.textPage .textCapsule .p-text pre {
    font-size: .8rem;
    line-height: 1.7;
  }
}

@media only screen and (max-width: 480px) {
  .pageContent .container .row.textPage .textCapsule .p-text p, .pageContent .container .row.textPage .textCapsule .p-text pre {
    font-size: .76rem;
  }
}

.pageContent .container .row.textPage .textCapsule .p-text ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

.pageContent .container .row.textPage .textCapsule .p-text ul li {
  width: 100%;
  margin: 0;
  padding: 0;
}

.pageContent .container .row.textPage .textCapsule .p-contact {
  display: inline-block;
  width: 100%;
  letter-spacing: -5px;
  margin-top: 10px;
}

.pageContent .container .row.textPage .textCapsule .p-contact a {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0;
  font-size: .9rem;
  line-height: 1.9;
  color: #f8f9fc;
  font-weight: 400;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin: 10px;
}

.pageContent .container .row.textPage .textCapsule .p-contact a::before {
  margin: 0 5px 0 0;
}

.pageContent .container .row.textPage .textCapsule .p-contact a:hover {
  color: #dda01f;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.textPage .textCapsule .p-contact a {
    margin: 5px 10px;
    font-size: .8rem;
  }
}

@media only screen and (max-width: 480px) {
  .pageContent .container .row.textPage .textCapsule .p-contact a {
    font-size: .76rem;
  }
}

.pageContent .container .row.textPage .searchLast {
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.pageContent .container .row.textPage .searchLast p {
  border-top: 1px dashed rgba(49, 49, 49, 0.5);
  padding: 15px 0px;
  margin: 0;
  font-size: .8rem;
  line-height: 2;
  font-weight: 400;
  color: #333841;
}

.pageContent .container .row.textPage .searchLast p:first-child {
  border: 0;
}

.pageContent .container .row.textPage .searchLast p a {
  color: #08006b;
  font-weight: 700;
  font-size: .9rem;
}

.pageContent .container .row.textPage .searchLast p a:hover {
  opacity: .5;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.textPage .searchLast p a {
    font-size: .8rem;
  }
}

.pageContent .container .row.servicesPage div[class^="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.servicesPage div[class^="col-"] {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.pageContent .container .row.servicesPage div[class^="col-"] .p-item {
  float: left;
  width: 100%;
  height: auto;
}

.pageContent .container .row.servicesPage div[class^="col-"] .p-item a {
  position: relative;
  float: left;
  width: 100%;
  padding: 30px 20px;
  border: 1px solid #f2f2f2;
}

.pageContent .container .row.servicesPage div[class^="col-"] .p-item a .p-text {
  float: left;
  width: 100%;
}

.pageContent .container .row.servicesPage div[class^="col-"] .p-item a .p-text i {
  font-size: 2rem;
  color: #313131;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.servicesPage div[class^="col-"] .p-item a .p-text i {
    font-size: 1.5rem;
  }
}

.pageContent .container .row.servicesPage div[class^="col-"] .p-item a .p-text h3 {
  font-size: 1.3rem;
  color: #313131;
  margin-top: 20px;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.servicesPage div[class^="col-"] .p-item a .p-text h3 {
    font-size: 1rem;
  }
}

.pageContent .container .row.servicesPage div[class^="col-"] .p-item a .p-text p, .pageContent .container .row.servicesPage div[class^="col-"] .p-item a .p-text pre {
  font-size: .9rem;
  line-height: 1.8;
  color: #f8f9fc;
  font-weight: 400;
  margin-top: 15px;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.servicesPage div[class^="col-"] .p-item a .p-text p, .pageContent .container .row.servicesPage div[class^="col-"] .p-item a .p-text pre {
    font-size: .8rem;
    line-height: 1.6;
  }
}

.pageContent .container .row.servicesPage div[class^="col-"] .p-item a:hover {
  background-color: #dda01f;
}

.pageContent .container .row.servicesPage div[class^="col-"] .p-item a:hover .p-text i, .pageContent .container .row.servicesPage div[class^="col-"] .p-item a:hover .p-text h3, .pageContent .container .row.servicesPage div[class^="col-"] .p-item a:hover .p-text p, .pageContent .container .row.servicesPage div[class^="col-"] .p-item a:hover .p-text pre {
  color: #fff;
}

.pageContent .container .row.customerPage div[class^="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pageContent .container .row.customerPage div[class^="col-"] .p-item {
  display: inline-block;
  width: 100%;
  height: auto;
  border: 1px solid #f2f2f2;
  background-color: #fff;
}

.pageContent .container .row.customerPage div[class^="col-"] .p-item a {
  position: relative;
  float: left;
  width: 100%;
}

.pageContent .container .row.customerPage div[class^="col-"] .p-item a img {
  float: left;
  width: 100%;
  height: auto;
}

.pageContent .container .row.customerPage div[class^="col-"] .p-item a:hover .p-text i {
  color: #dda01f;
}

.pageContent .container .row.customerPage div[class^="col-"] .p-item a:hover .p-text h3 {
  color: #dda01f;
}

.pageContent .container .row.projectPage div[class^="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pageContent .container .row.projectPage div[class^="col-"] .p-title {
  float: left;
  width: 100%;
  height: auto;
  padding-top: 15px;
}

.pageContent .container .row.projectPage div[class^="col-"] .p-title h2 {
  font-size: 1.2rem;
  color: #08006b;
  margin: 0;
  padding: 0 0 10px;
  border-bottom: 1px solid #08006b;
}

@media only screen and (max-width: 992px) {
  .pageContent .container .row.projectPage div[class^="col-"] .p-title h2 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .pageContent .container .row.projectPage div[class^="col-"] .p-title h2 {
    font-size: .9rem;
  }
}

.pageContent .container .row.projectPage div[class^="col-"] .p-title h2:after {
  display: none;
}

.pageContent .container .row.projectPage div[class^="col-"] .p-item {
  display: inline-block;
  width: 100%;
  height: auto;
  border: 1px solid #f2f2f2;
  background-color: #fff;
}

.pageContent .container .row.projectPage div[class^="col-"] .p-item a {
  position: relative;
  float: left;
  width: 100%;
}

.pageContent .container .row.projectPage div[class^="col-"] .p-item a img {
  float: left;
  width: 100%;
  height: auto;
}

.pageContent .container .row.projectPage div[class^="col-"] .p-item a:hover .p-text i {
  color: #dda01f;
}

.pageContent .container .row.projectPage div[class^="col-"] .p-item a:hover .p-text h3 {
  color: #dda01f;
}

.pageContent .container .row.blogPage div[class^="col-"] {
  margin: 15px 0;
}

.pageContent .container .row.blogPage div[class^="col-"] .p-item {
  float: left;
  width: 100%;
  height: 100%;
  border: 1px solid #f2f2f2;
}

.pageContent .container .row.blogPage div[class^="col-"] .p-item a {
  position: relative;
  float: left;
  width: 100%;
}

.pageContent .container .row.blogPage div[class^="col-"] .p-item a .p-text {
  float: left;
  width: 100%;
  padding-left: 30px;
  text-align: left;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.blogPage div[class^="col-"] .p-item a .p-text {
    padding: 25px;
    text-align: center;
  }
}

.pageContent .container .row.blogPage div[class^="col-"] .p-item a .p-text h3 {
  font-size: 1.3rem;
  color: #313131;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.blogPage div[class^="col-"] .p-item a .p-text h3 {
    font-size: 1rem;
  }
}

.pageContent .container .row.blogPage div[class^="col-"] .p-item a .p-text p, .pageContent .container .row.blogPage div[class^="col-"] .p-item a .p-text pre {
  font-size: .9rem;
  line-height: 1.8;
  color: #f8f9fc;
  font-weight: 400;
  margin-top: 15px;
}

.pageContent .container .row.blogPage div[class^="col-"] .p-item a .p-text p.date, .pageContent .container .row.blogPage div[class^="col-"] .p-item a .p-text pre.date {
  font-size: .7rem;
  margin-top: 10px;
  color: #313131;
  letter-spacing: 0.1em;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.blogPage div[class^="col-"] .p-item a .p-text p, .pageContent .container .row.blogPage div[class^="col-"] .p-item a .p-text pre {
    font-size: .8rem;
    line-height: 1.6;
  }
  .pageContent .container .row.blogPage div[class^="col-"] .p-item a .p-text p.date, .pageContent .container .row.blogPage div[class^="col-"] .p-item a .p-text pre.date {
    font-size: .6rem;
  }
}

.pageContent .container .row.blogPage div[class^="col-"] .p-item a .p-figure {
  float: left;
  width: 100%;
}

.pageContent .container .row.blogPage div[class^="col-"] .p-item a .p-figure img {
  float: left;
  width: 100%;
  height: auto;
}

.pageContent .container .row.blogPage div[class^="col-"] .p-item a:hover .p-text i {
  color: #dda01f;
}

.pageContent .container .row.blogPage div[class^="col-"] .p-item a:hover .p-text h3 {
  color: #dda01f;
}

.pageContent .container .row.blogPage div[class^="col-"] .p-item a .reverse .p-text {
  padding-left: 0;
  padding-right: 30px;
  text-align: right;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.blogPage div[class^="col-"] .p-item a .reverse .p-text {
    padding: 25px;
    text-align: center;
  }
}

.pageContent .container .row.reverse .textCapsule {
  padding-left: 0px;
  padding-right: 20px;
}

@media only screen and (max-width: 769px) {
  .pageContent .container .row.reverse .textCapsule {
    padding: 0px 15px;
  }
}

.formHome .container .p-title h2 {
  color: #fff;
}

.formHome .container .p-title h2::after {
  background-color: #dda01f;
}

.formHome .container .p-title p, .formHome .container .p-title pre {
  color: #fff;
}

.formHome .container .formCapsule {
  float: left;
  width: 100%;
  height: auto;
}

.formHome .container .formCapsule form ul li {
  margin: 15px 0;
  position: relative;
}

@media only screen and (max-width: 769px) {
  .formHome .container .formCapsule form ul li {
    margin: 8px 0;
  }
}

.formHome .container .formCapsule form ul li.check {
  margin: 5px 0;
}

.formHome .container .formCapsule form ul li span[class^="icon-"] {
  position: absolute;
  left: 30px;
  top: 13px;
  font-size: .875rem;
  color: rgba(255, 255, 255, 0.8);
}

.formHome .container .formCapsule form ul li input {
  width: 100%;
  padding-left: 45px;
}

.formHome .container .formCapsule form ul li textarea {
  width: 100%;
  padding-left: 45px;
}

.pagination {
  display: inline-block;
  width: auto;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -khtml-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  letter-spacing: -5px;
}

.pagination a {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 10px 15px;
  color: #313131;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0px;
  opacity: .5;
  border: 1px solid #eaeaea;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 0px 3px;
}

@media only screen and (max-width: 480px) {
  .pagination a {
    padding: 8px 10px;
  }
}

.pagination a:hover {
  opacity: 1;
  color: #dda01f;
}

.pagination a.active {
  color: #dda01f;
  border-color: #dda01f;
  opacity: 1;
}

.aboutusHome .container p {
  margin: 0;
}

.aboutusHome .container .p-content {
  margin-top: 95px;
}

@media only screen and (max-width: 992px) {
  .aboutusHome .container .p-content {
    padding: 0px 1vw 0px 2vw;
  }
}

.aboutusHome .container .p-content h2 {
  font-size: 45px;
  color: #000;
  font-weight: bold;
}

@media only screen and (max-width: 1300px) {
  .aboutusHome .container .p-content h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 992px) {
  .aboutusHome .container .p-content h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 769px) {
  .aboutusHome .container .p-content h2 {
    font-size: 2rem;
  }
  .aboutusHome .container .p-content h2 br {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .aboutusHome .container .p-content h2 {
    font-size: 1.5rem;
  }
}

.aboutusHome .container .p-content .p-text {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.aboutusHome .container .p-content .p-text p,
.aboutusHome .container .p-content .p-text pre {
  display: inline-block;
  margin: 15px 0;
  font-size: 0.9rem;
  line-height: 1.6;
  color: #333841;
}

@media only screen and (max-width: 992px) {
  .aboutusHome .container .p-content .p-text p,
  .aboutusHome .container .p-content .p-text pre {
    margin: 10px 0;
    font-size: 0.86rem;
  }
}

@media only screen and (max-width: 769px) {
  .aboutusHome .container .p-content .p-text p br,
  .aboutusHome .container .p-content .p-text pre br {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .aboutusHome .container .p-content .p-text p,
  .aboutusHome .container .p-content .p-text pre {
    font-size: 0.8rem;
  }
}

.aboutusHome .container .p-content .p-text p.spot,
.aboutusHome .container .p-content .p-text pre.spot {
  color: #60656f;
  font-size: 22px;
  font-weight: 400;
}

@media only screen and (max-width: 992px) {
  .aboutusHome .container .p-content .p-text p.spot,
  .aboutusHome .container .p-content .p-text pre.spot {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .aboutusHome .container .p-content .p-text p.spot,
  .aboutusHome .container .p-content .p-text pre.spot {
    font-size: 0.9rem;
  }
}

.aboutusHome .container .p-content .p-text a {
  vertical-align: top;
  font-size: 22px;
  font-weight: 400;
  color: #5479f7;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: solid underline #5479f7;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}

.aboutusHome .container .p-content .p-text a:hover {
  color: #0158a2;
}

@media only screen and (max-width: 992px) {
  .aboutusHome .container .p-content .p-text a {
    padding: 15px 25px;
    font-size: 0.9rem;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .aboutusHome .container .p-content .p-text a {
    padding: 10px 20px;
    font-size: 0.8rem;
  }
}

.aboutusHome .container .p-figure {
  display: inline-block;
  padding-top: 63px;
  padding-left: 3.64vw;
  background-size: 370px auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 65% auto;
}

.aboutusHome .container .p-figure img {
  float: left;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 769px) {
  .aboutusHome .container .p-figure {
    padding-top: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media only screen and (max-width: 480px) {
  .aboutusHome .container .p-figure {
    padding-top: 10vw;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

.aboutusHome .container .p-line {
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #f2f2f2;
  margin-top: 80px;
}
